NEXT_PUBLIC_SUPABASE_URL=vscotfdqaqvkmgxrnpys
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZzY290ZmRxYXF2a21neHJucHlzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5MzM3NTAsImV4cCI6MjA5MDUwOTc1MH0.4vbYgop7z8yx5cqinqoKtt0_RHPSeWuxqgA2gTa_tEQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZzY290ZmRxYXF2a21neHJucHlzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDkzMzc1MCwiZXhwIjoyMDkwNTA5NzUwfQ.f9txF-6msfPxqArx0oZzoL4sqahgK47plkZKx-_zdAo
